// Custom styles.

// Custom styles.

.headband{
	background: gray;/*页面最顶端线颜色*/
}

.brand{
	background: white;
	color: #808080;
	font-size: normal;
	&:hover { color: black; }/*鼠标悬到标题上方时文字颜色变为黑色*/
}

.footer{
	color: $grey-dark;/*最底端footer处文字为灰色*/
}

.page-archive{
	.posts-collapse{
		.archive-move-on{
			background: red;
		}
	}
}
